{% extends 'website/base.html.twig' %}

{% block body %}
    <div class="theme-page padding-bottom-100">
        <div class="row gray full-width page-header vertical-align-table">
            <div class="row">
                <div class="page-header-left">
                    <h1>BLOG</h1>
                </div>
                <div class="page-header-right">
                    <div class="bread-crumb-container">
                        <ul class="bread-crumb">
                            <li>
                                <a title="Home" href="?page=home">
                                    Home
                                </a>
                            </li>
                            <li class="separator">
                                &#47;
                            </li>
                            <li>
                                Blog
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="clearfix">
            <div class="row page-margin-top-section">
                <div class="column column-1-4 cm-smart-column">
                    <div class="cm-smart-column-wrapper">
                        <ul class="categories clearfix">
                            <li><a href="?page=category&amp;cat=house_cleaning" title="House Cleaning">House Cleaning<span>5</span></a></li>
                            <li><a href="?page=category&amp;cat=post_renovation" title="Post Renovation">Post Renovation<span>2</span></a></li>
                            <li><a href="?page=category&amp;cat=green_spaces_maintenance" title="Green Spaces Maintenance">Green Spaces Maintenance<span>2</span></a></li>
                            <li><a href="?page=category&amp;cat=move_in_out_service" title="Move In Out Service">Move In Out Service<span>4</span></a></li>
                            <li><a href="?page=category&amp;cat=commercial_cleaning" title="Commercial Cleaning">Commercial Cleaning<span>1</span></a></li>
                            <li><a href="?page=category&amp;cat=window_cleaning" title="Window Cleaning">Window Cleaning<span>12</span></a></li>
                        </ul>
                        <ul class="services-list services-icons gray page-margin-top clearfix">
                            <li>
                                <a href="?page=service_calculator" title="Cost Calculator">
                                    <span class="service-icon features-calculator"></span>
                                </a>
                                <h4><a href="?page=service_calculator" title="Cost Calculator">COST CALCULATOR</a></h4>
                                <p class="description">Estimate cleaning cost.</p>
                                <div class="align-center margin-top-40 padding-bottom-16">
                                    <a class="more" href="?page=service_calculator" title="Learn more">Learn more</a>
                                </div>
                            </li>
                        </ul>
                        <h6 class="box-header page-margin-top">LATEST POSTS</h6>
                        <ul class="blog small margin-top-30 clearfix">
                            <li>
                                <a href="?page=post" title="How to: deep clean your kitchen" class="post-image">
                                    <img src="images/samples/90x90/placeholder.jpg" alt="">
                                </a>
                                <div class="post-content">
                                    <a href="?page=post" title="How to: deep clean your kitchen">How to: deep clean your kitchen</a>
                                    <ul class="post-details">
                                        <li class="date">August 24, 2017</li>
                                    </ul>
                                </div>
                            </li>
                            <li>
                                <a href="?page=post" title="10 ways to save more &amp; waste less" class="post-image">
                                    <img src="images/samples/90x90/placeholder.jpg" alt="">
                                </a>
                                <div class="post-content">
                                    <a href="?page=post" title="10 ways to save more &amp; waste less">10 ways to save more &amp; waste less</a>
                                    <ul class="post-details">
                                        <li class="date">August 22, 2017</li>
                                    </ul>
                                </div>
                            </li>
                            <li>
                                <a href="?page=post" title="Before move-in cleaning checklist" class="post-image">
                                    <img src="images/samples/90x90/placeholder.jpg" alt="">
                                </a>
                                <div class="post-content">
                                    <a href="?page=post" title="Before move-in cleaning checklist">Before move-in cleaning checklist</a>
                                    <ul class="post-details">
                                        <li class="date">July 10, 2017</li>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                        <h6 class="box-header page-margin-top">MOST POPULAR</h6>
                        <ul class="blog small margin-top-30 clearfix">
                            <li>
                                <a href="?page=post" title="Best pro tips for home cleaning" class="post-image">
                                    <img src="images/samples/90x90/placeholder.jpg" alt="">
                                </a>
                                <div class="post-content">
                                    <a href="?page=post" title="Best pro tips for home cleaning">Best pro tips for home cleaning</a>
                                    <ul class="post-details">
                                        <li class="date">April 25, 2017</li>
                                    </ul>
                                </div>
                            </li>
                            <li>
                                <a href="?page=post" title="Before move-in cleaning checklist" class="post-image">
                                    <img src="images/samples/90x90/placeholder.jpg" alt="">
                                </a>
                                <div class="post-content">
                                    <a href="?page=post" title="Before move-in cleaning checklist">Before move-in cleaning checklist</a>
                                    <ul class="post-details">
                                        <li class="date">July 10, 2017</li>
                                    </ul>
                                </div>
                            </li>
                            <li>
                                <a href="?page=post" title="What to look for in green cleaning" class="post-image">
                                    <img src="images/samples/90x90/placeholder.jpg" alt="">
                                </a>
                                <div class="post-content">
                                    <a href="?page=post" title="What to look for in green cleaning">What to look for in green cleaning</a>
                                    <ul class="post-details">
                                        <li class="date">June 05, 2017</li>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                        <h6 class="box-header page-margin-top">TEXT WIDGET</h6>
                        <p class="margin-top-10">What makes Cleanmate trusted above other cleaning service providers? When you combine higher standards, smarter strategies and <a href="#">superior quality</a> all in one package, the result is top notch.</p>
                        <h6 class="box-header page-margin-top">ARCHIVES</h6>
                        <ul class="taxonomies full-width margin-top-30 clearfix">
                            <li><a href="#" title="August 2017">August 2017<span>2</span></a></li>
                            <li><a href="#" title="July 2017">July 2017<span>5</span></a></li>
                        </ul>
                        <h6 class="box-header page-margin-top">TAGS</h6>
                        <ul class="taxonomies margin-top-30 clearfix">
                            <li><a href="#" title="Carpet Cleaning">Carpet Cleaning</a></li>
                            <li><a href="#" title="Cleaning">Cleaning</a></li>
                            <li><a href="#" title="Cleaning Tips">Cleaning Tips</a></li>
                            <li><a href="#" title="Green Cleaning">Green Cleaning</a></li>
                            <li><a href="#" title="Home">Home</a></li>
                            <li><a href="#" title="Office">Office</a></li>
                            <li><a href="#" title="Pets">Pets</a></li>
                        </ul>
                    </div>
                </div>
                <div class="column column-3-4">
                    <ul class="blog clearfix">
                        <li>
                            <a href="?page=post" title="How to: deep clean your kitchen" class="post-image">
                                <div class="post-date">
                                    <div class="month">AUG</div>
                                    <h4>24</h4>
                                </div>
                                <img src="images/samples/870x400/placeholder.jpg" alt="">
                            </a>
                            <h2><a href="?page=post">How to: deep clean your kitchen</a></h2>
                            <div class="post-content-details-container clearfix">
                                <ul class="post-content-details left">
                                    <li>August 24, 2017</li>
                                    <li>in <a href="?page=category&amp;cat=house_cleaning" title="House Cleaning">House Cleaning</a></li>
                                    <li>by <a href="?page=team_paige_morgan" title="Paige Morgan">Paige Morgan</a></li>
                                </ul>
                                <ul class="post-content-details right">
                                    <li class="template-display"><a href="?page=post">250</a></li>
                                    <li class="template-comment"><a href="?page=post#comments-list" title="3 comments">3</a></li>
                                </ul>
                            </div>
                            <p>Paetos dignissim at cursus elefeind norma arcu. Pellentesque mode accumsan est in tempus, etos at ullamcorper suscipit lacus maecenas tortor. Erates vitae node metus. Suspendisse est gravida ornare. Non mattis morbi suspendisse velit rutrum a modest tortor velim gravida maecenas forte vehicula etos pulvinar. Modest retrum a sante elite... <a href="?page=post" title="Read more">Read more</a></p>
                        </li>
                        <li>
                            <a href="?page=post" title="10 ways to save more &amp; waste less" class="post-image">
                                <div class="post-date">
                                    <div class="month">AUG</div>
                                    <h4>22</h4>
                                </div>
                                <img src="images/samples/870x400/placeholder.jpg" alt="">
                            </a>
                            <h2><a href="?page=post">10 ways to save more &amp; waste less</a></h2>
                            <div class="post-content-details-container clearfix">
                                <ul class="post-content-details left">
                                    <li>August 22, 2017</li>
                                    <li>in <a href="?page=category&amp;cat=commercial_cleaning" title="Commercial Cleaning">Commercial Cleaning</a></li>
                                    <li>by <a href="?page=team_paige_morgan" title="Paige Morgan">Paige Morgan</a></li>
                                </ul>
                                <ul class="post-content-details right">
                                    <li class="template-display"><a href="?page=post">350</a></li>
                                    <li class="template-comment"><a href="?page=post#comments-list" title="5 comments">5</a></li>
                                </ul>
                            </div>
                            <p>Paetos dignissim at cursus elefeind norma arcu. Pellentesque mode accumsan est in tempus, etos at ullamcorper suscipit lacus maecenas tortor. Erates vitae node metus. Suspendisse est gravida ornare. Non mattis morbi suspendisse velit rutrum a modest tortor velim gravida maecenas forte vehicula etos pulvinar. Modest retrum a sante elite... <a href="?page=post" title="Read more">Read more</a></p>
                        </li>
                        <li>
                            <a href="?page=post" title="Before move-in cleaning checklist" class="post-image">
                                <div class="post-date">
                                    <div class="month">JUL</div>
                                    <h4>10</h4>
                                </div>
                                <img src="images/samples/870x400/placeholder.jpg" alt="">
                            </a>
                            <h2><a href="?page=post">Before move-in cleaning checklist</a></h2>
                            <div class="post-content-details-container clearfix">
                                <ul class="post-content-details">
                                    <li>July 10, 2017</li>
                                    <li>in <a href="?page=category&amp;cat=move_in_out_service" title="Move In Out Service">Move In Out Service</a></li>
                                    <li>by <a href="?page=team_paige_morgan" title="Paige Morgan">Paige Morgan</a></li>
                                </ul>
                                <ul class="post-content-details right">
                                    <li class="template-display"><a href="?page=post">1 230</a></li>
                                    <li class="template-comment"><a href="?page=post#comments-list" title="5 comments">5</a></li>
                                </ul>
                            </div>
                            <p>Paetos dignissim at cursus elefeind norma arcu. Pellentesque mode accumsan est in tempus, etos at ullamcorper suscipit lacus maecenas tortor. Erates vitae node metus. Suspendisse est gravida ornare. Non mattis morbi suspendisse velit rutrum a modest tortor velim gravida maecenas forte vehicula etos pulvinar. Modest retrum a sante elite... <a href="?page=post" title="Read more">Read more</a></p>
                        </li>
                        <li>
                            <a href="?page=post" title="What to look for in green cleaning" class="post-image">
                                <div class="post-date">
                                    <div class="month">JUN</div>
                                    <h4>05</h4>
                                </div>
                                <img src="images/samples/870x400/placeholder.jpg" alt="">
                            </a>
                            <h2><a href="?page=post">What to look for in green cleaning</a></h2>
                            <div class="post-content-details-container clearfix">
                                <ul class="post-content-details left">
                                    <li>June 05, 2017</li>
                                    <li>in <a href="?page=category&amp;cat=window_cleaning" title="Window Cleaning">Window Cleaning</a></li>
                                    <li>by <a href="?page=team_paige_morgan" title="Paige Morgan">Paige Morgan</a></li>
                                </ul>
                                <ul class="post-content-details right">
                                    <li class="template-display"><a href="?page=post">230</a></li>
                                    <li class="template-comment"><a href="?page=post#comments-list" title="5 comments">5</a></li>
                                </ul>
                            </div>
                            <p>Paetos dignissim at cursus elefeind norma arcu. Pellentesque mode accumsan est in tempus, etos at ullamcorper suscipit lacus maecenas tortor. Erates vitae node metus. Suspendisse est gravida ornare. Non mattis morbi suspendisse velit rutrum a modest tortor velim gravida maecenas forte vehicula etos pulvinar. Modest retrum a sante elite... <a href="?page=post" title="Read more">Read more</a></p>
                        </li>
                    </ul>
                    <ul class="pagination page-margin-top">
                        <li class="left">
                            <a href="#" title="" class="template-arrow-horizontal-3">&nbsp;</a>
                        </li>
                        <li class="selected">
                            <a href="#" title="">
                                1
                            </a>
                        </li>
                        <li>
                            <a href="#" title="">
                                2
                            </a>
                        </li>
                        <li>
                            <a href="#" title="">
                                3
                            </a>
                        </li>
                        <li class="right">
                            <a href="#" title="" class="template-arrow-horizontal-3">&nbsp;</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
