{% extends 'website/base.html.twig' %}

{% block body %}
    <div class="theme-page padding-bottom-100">
        <div class="row gray full-width page-header vertical-align-table">
            <div class="row">
                <div class="page-header-left">
                    <h1>BLOG POST</h1>
                </div>
                <div class="page-header-right">
                    <div class="bread-crumb-container">
                        <ul class="bread-crumb">
                            <li>
                                <a title="Home" href="?page=home">
                                    Home
                                </a>
                            </li>
                            <li class="separator">
                                &#47;
                            </li>
                            <li>
                                <a title="Blog" href="?page=blog">
                                    Blog
                                </a>
                            </li>
                            <li class="separator">
                                &#47;
                            </li>
                            <li>
                                How to: deep clean your kitchen
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="clearfix">
            <div class="row page-margin-top-section">
                <div class="column column-3-4">
                    <div class="blog clearfix">
                        <div class="post single">
                            <a href="?page=post" title="How to: deep clean your kitchen" class="post-image">
                                <div class="post-date">
                                    <div class="month">AUG</div>
                                    <h4>24</h4>
                                </div>
                                <img src="images/samples/870x400/placeholder.jpg" alt="">
                            </a>
                            <h2><a href="?page=post">How to: deep clean your kitchen</a></h2>
                            <div class="post-content-details-container clearfix">
                                <ul class="post-content-details left">
                                    <li>August 24, 2017</li>
                                    <li>in <a href="?page=category&amp;cat=house_cleaning" title="House Cleaning">House Cleaning</a></li>
                                    <li>by <a href="?page=team_paige_morgan" title="Paige Morgan">Paige Morgan</a></li>
                                </ul>
                                <ul class="post-content-details right">
                                    <li class="template-display"><a href="?page=post">250</a></li>
                                    <li class="template-comment"><a class="scroll-to-comments" href="?page=post#comments-list" title="3 comments">3</a></li>
                                </ul>
                            </div>
                            <p class="margin-top-10">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras pulvinar urna a diam elementum, et bibendum diam ornare. Morbi gravida non ipsum in euismod. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam eleifend, ex at facilisis eleifend, est neque sodales purus, sit amet convallis nulla risus non arcu. Sed ullamcorper vitae justo sit amet blandit. Etiam eget iaculis lacus, sed pulvinar orci. Duis at mattis dolor. Nullam vulputate quis ligula vitae vestibulum.</p>
                            <div class="row margin-top-30">
                                <div class="column column-1-2">
                                    <blockquote>
                                        <p class="template-quote">Proin euismod ex ornare congue lobortis. Vivamus gravida quam ut orci sagittis aliquam. Curabitur dignissim mauris in urna ullamcorper posuere.</p>
                                    </blockquote>
                                </div>
                                <div class="column column-1-2">
                                    <p class="padding-top-0">Donec lacus neque, luctus ut tortor eu, pharetra congue lectus. Vivamus lobortis diam sed dolor feugiat, ut finibus risus vehicula. Aliquam scelerisque auctor consequat. Nullam semper turpis quis turpis ornare, sed aliquam risus venenatis.</p>
                                    <p>Phasellus vitae lectus ac elit volutpat aliquam. Nullam vel metus sit amet risus rhoncus convallis. Nam laoreet, turpis a molestie tristique, nibh sem fermentum velit, at commodo risus sem sed ipsum. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras pulvinar urna a diam elementum, etos bibendum ornare morbi gravida non ipsum in euismod.</p>
                                </div>
                            </div>
                            <div class="row margin-top-10">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras pulvinar urna a diam elementum, et bibendum diam ornare. Morbi gravida non ipsum in euismod. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam eleifend, ex at facilisis eleifend, est neque sodales purus, sit amet convallis nulla risus non arcu. Sed ullamcorper vitae justo sit amet blandit. Etiam eget iaculis lacus, sed pulvinar orci. Duis at mattis dolor. Nullam vulputate quis ligula vitae vestibulum.</p>
                                <h3>Keep your home sparkling</h3>
                                <p>Proin euismod ex ornare congue lobortis. Vivamus gravida quam ut orci sagittis aliquam. Curabitur dignissim mauris in urna ullamcorper posuere. Quisque in elementum urna, id mattis urna. Mauris auctor purus id nulla dictum ultrices sit amet vitae neque. Morbi eleifend semper dui in imperdiet. Donec ac justo aliquam, rutrum sapien in, scelerisque metus. Fusce dui erat, accumsan vel porttitor tristique, ultricies eget ex.</p>
                                <h3>Things that matter</h3>
                                <p>Proin euismod ex ornare congue lobortis. Vivamus gravida quam ut orci sagittis aliquam. Curabitur dignissim mauris in urna ullamcorper posuere. Quisque in elementum urna, id mattis urna. Mauris auctor purus id nulla dictum ultrices sit amet vitae neque. Morbi eleifend semper dui in imperdiet. Donec ac <a href="#">justo aliquam</a>, rutrum sapien in, <a href="#">scelerisque metus</a>. Fusce dui erat, accumsan vel porttitor tristique, ultricies eget ex.</p>
                            </div>
                            <ul class="taxonomies margin-top-30 clearfix">
                                <li><a href="#" title="Cleaning Tips">Cleaning Tips</a></li>
                                <li><a href="#" title="Green Cleaning">Green Cleaning</a></li>
                                <li><a href="#" title="Home">Home</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="row page-margin-top">
                        <h4>LEAVE A COMMENT</h4>
                        <form class="comment-form margin-top-42" id="comment-form" method="post" action="<?php echo $_SERVER['REQUEST_URI']; ?>">
                            <div class="row flex-box">
                                <fieldset class="column column-1-2">
                                    <label>YOUR NAME</label>
                                    <input class="text-input" name="name" type="text" value="">
                                    <label>YOUR EMAIL</label>
                                    <input class="text-input" name="email" type="text" value="">
                                    <label>YOUR WEBSITE</label>
                                    <input class="text-input" name="website" type="text" value="">
                                </fieldset>
                                <fieldset class="column column-1-2">
                                    <label>COMMENT</label>
                                    <textarea name="message"></textarea>
                                </fieldset>
                            </div>
                            <div class="row margin-top-30">
                                <div class="column column-1-3">
                                    <p>Your email address will not be published.</p>
                                </div>
                                <div class="column column-2-3 align-right">
                                    <div class="row margin-top-15 padding-bottom-16">
                                        <a href="#cancel" id="cancel-comment" title="Cancel reply">Cancel reply</a>
                                        <a class="more submit-comment-form" href="#" title="Post comment"><span>Post comment</span></a>
                                    </div>
                                    <!--<input type="submit" value="POST COMMENT" class="more active">-->
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="row margin-top-65">
                        <h4>3 COMMENTS</h4>
                        <ul id="comments-list">
                            <li class="comment clearfix" id="comment-1">
                                <div class="comment-container clearfix">
                                    <div class="comment-author-avatar avatar-3 radius">
                                        &nbsp;
                                    </div>
                                    <div class="comment-details">
                                        <div class="posted-by clearfix">
                                            <h6>Marta Sedlak</h6>
                                            <abbr class="timeago" title="July 05, 2017">July 05, 2017</abbr>
                                            <a class="more gray small" href="#comment-form" title="Reply">Reply</a>
                                        </div>
                                        <p>
                                            Paetos dignissim at cursus elefeind norma arcu. Pellentesque accumsan est in tempus etos ullamcorper, sem quam suscipit lacus maecenas tortor. Erates vitae node metus. Morbi suspendisse a tortor velim pellentesque uter justo magna gravida. Pellentesque accumsan, ex in tempus ullamcorper terminal.
                                        </p>
                                    </div>
                                </div>
                                <ul class="children">
                                    <li class="comment clearfix">
                                        <div class="comment-container clearfix">
                                            <div class="comment-author-avatar avatar-1 radius">
                                                &nbsp;
                                            </div>
                                            <div class="comment-details">
                                                <div class="posted-by clearfix">
                                                    <h6>Carla Lucy</h6>
                                                    <a href="#comment-1" class="in-reply">Marta Sedlak</a>
                                                    <abbr class="timeago" title="July 08, 2017">July 08, 2017</abbr>
                                                    <a class="more gray small" href="#comment-form" title="Reply">Reply</a>
                                                </div>
                                                <p>
                                                    Paetos dignissim at cursus elefeind norma arcu. Pellentesque accumsan est in tempus node etos ullamcorper, sem quam suscipit lacus maecenas tortor. Erates vitae node suspendisse est velim pellentesque uter justo magna gravida.
                                                </p>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </li>
                            <li class="comment last clearfix" id="comment-2">
                                <div class="comment-container clearfix">
                                    <div class="comment-author-avatar avatar-2 radius">
                                        &nbsp;
                                    </div>
                                    <div class="comment-details">
                                        <div class="posted-by clearfix">
                                            <h6>Ruth Sanders</h6>
                                            <abbr class="timeago" title="July 03, 2017">July 03, 2017</abbr>
                                            <a class="more gray small" href="#comment-form" title="Reply">Reply</a>
                                        </div>
                                        <p>
                                            Paetos dignissim at cursus elefeind norma arcu. Pellentesque accumsan est in tempus etos ullamcorper, sem quam suscipit lacus maecenas tortor. Erates vitae node metus. Morbi suspendisse a tortor velim pellentesque uter justo magna gravida. Pellentesque accumsan, ex in tempus ullamcorper terminal.
                                        </p>
                                    </div>
                                </div>
                            </li>
                        </ul>
                        <ul class="pagination page-margin-top">
                            <li class="left">
                                <a href="#" title="" class="template-arrow-horizontal-3">&nbsp;</a>
                            </li>
                            <li class="selected">
                                <a href="#" title="">
                                    1
                                </a>
                            </li>
                            <li>
                                <a href="#" title="">
                                    2
                                </a>
                            </li>
                            <li>
                                <a href="#" title="">
                                    3
                                </a>
                            </li>
                            <li class="right">
                                <a href="#" title="" class="template-arrow-horizontal-3">&nbsp;</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="column column-1-4 cm-smart-column">
                    <div class="cm-smart-column-wrapper">
                        <ul class="categories clearfix">
                            <li><a href="?page=category&amp;cat=house_cleaning" title="House Cleaning">House Cleaning<span>5</span></a></li>
                            <li><a href="?page=category&amp;cat=post_renovation" title="Post Renovation">Post Renovation<span>2</span></a></li>
                            <li><a href="?page=category&amp;cat=green_spaces_maintenance" title="Green Spaces Maintenance">Green Spaces Maintenance<span>2</span></a></li>
                            <li><a href="?page=category&amp;cat=move_in_out_service" title="Move In Out Service">Move In Out Service<span>4</span></a></li>
                            <li><a href="?page=category&amp;cat=commercial_cleaning" title="Commercial Cleaning">Commercial Cleaning<span>1</span></a></li>
                            <li><a href="?page=category&amp;cat=window_cleaning" title="Window Cleaning">Window Cleaning<span>12</span></a></li>
                        </ul>
                        <ul class="services-list services-icons gray page-margin-top clearfix">
                            <li>
                                <a href="?page=service_calculator" title="Cost Calculator">
                                    <span class="service-icon features-calculator"></span>
                                </a>
                                <h4><a href="?page=service_calculator" title="Cost Calculator">COST CALCULATOR</a></h4>
                                <p class="description">Estimate cleaning cost.</p>
                                <div class="align-center margin-top-40 padding-bottom-16">
                                    <a class="more" href="?page=service_calculator" title="Learn more">Learn more</a>
                                </div>
                            </li>
                        </ul>
                        <h6 class="box-header page-margin-top">LATEST POSTS</h6>
                        <ul class="blog small margin-top-30 clearfix">
                            <li>
                                <a href="?page=post" title="How to: deep clean your kitchen" class="post-image">
                                    <img src="images/samples/90x90/placeholder.jpg" alt="">
                                </a>
                                <div class="post-content">
                                    <a href="?page=post" title="How to: deep clean your kitchen">How to: deep clean your kitchen</a>
                                    <ul class="post-details">
                                        <li class="date">August 24, 2017</li>
                                    </ul>
                                </div>
                            </li>
                            <li>
                                <a href="?page=post" title="10 ways to save more &amp; waste less" class="post-image">
                                    <img src="images/samples/90x90/placeholder.jpg" alt="">
                                </a>
                                <div class="post-content">
                                    <a href="?page=post" title="10 ways to save more &amp; waste less">10 ways to save more &amp; waste less</a>
                                    <ul class="post-details">
                                        <li class="date">August 22, 2017</li>
                                    </ul>
                                </div>
                            </li>
                            <li>
                                <a href="?page=post" title="Before move-in cleaning checklist" class="post-image">
                                    <img src="images/samples/90x90/placeholder.jpg" alt="">
                                </a>
                                <div class="post-content">
                                    <a href="?page=post" title="Before move-in cleaning checklist">Before move-in cleaning checklist</a>
                                    <ul class="post-details">
                                        <li class="date">July 10, 2017</li>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                        <h6 class="box-header page-margin-top">MOST POPULAR</h6>
                        <ul class="blog small margin-top-30 clearfix">
                            <li>
                                <a href="?page=post" title="Best pro tips for home cleaning" class="post-image">
                                    <img src="images/samples/90x90/placeholder.jpg" alt="">
                                </a>
                                <div class="post-content">
                                    <a href="?page=post" title="Best pro tips for home cleaning">Best pro tips for home cleaning</a>
                                    <ul class="post-details">
                                        <li class="date">April 25, 2017</li>
                                    </ul>
                                </div>
                            </li>
                            <li>
                                <a href="?page=post" title="Before move-in cleaning checklist" class="post-image">
                                    <img src="images/samples/90x90/placeholder.jpg" alt="">
                                </a>
                                <div class="post-content">
                                    <a href="?page=post" title="Before move-in cleaning checklist">Before move-in cleaning checklist</a>
                                    <ul class="post-details">
                                        <li class="date">July 10, 2017</li>
                                    </ul>
                                </div>
                            </li>
                            <li>
                                <a href="?page=post" title="What to look for in green cleaning" class="post-image">
                                    <img src="images/samples/90x90/placeholder.jpg" alt="">
                                </a>
                                <div class="post-content">
                                    <a href="?page=post" title="What to look for in green cleaning">What to look for in green cleaning</a>
                                    <ul class="post-details">
                                        <li class="date">June 05, 2017</li>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                        <h6 class="box-header page-margin-top">TEXT WIDGET</h6>
                        <p class="margin-top-10">What makes Cleanmate trusted above other cleaning service providers? When you combine higher standards, smarter strategies and <a href="#">superior quality</a> all in one package, the result is top notch.</p>
                        <h6 class="box-header page-margin-top">ARCHIVES</h6>
                        <ul class="taxonomies full-width margin-top-30 clearfix">
                            <li><a href="#" title="August 2017">August 2017<span>2</span></a></li>
                            <li><a href="#" title="July 2017">July 2017<span>5</span></a></li>
                        </ul>
                        <h6 class="box-header page-margin-top">TAGS</h6>
                        <ul class="taxonomies margin-top-30 clearfix">
                            <li><a href="#" title="Carpet Cleaning">Carpet Cleaning</a></li>
                            <li><a href="#" title="Cleaning">Cleaning</a></li>
                            <li><a href="#" title="Cleaning Tips">Cleaning Tips</a></li>
                            <li><a href="#" title="Green Cleaning">Green Cleaning</a></li>
                            <li><a href="#" title="Home">Home</a></li>
                            <li><a href="#" title="Office">Office</a></li>
                            <li><a href="#" title="Pets">Pets</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
