body .header-container .menu-container .sf-menu > li > a{
    text-transform: uppercase;
}

.uppercase{
    text-transform: uppercase !important;
}

.header-text{
    color: #ffffff;
    padding-left: 100px;
    padding-right: 100px;
    margin-bottom: 15px !important;
    text-align: center;
    font-size: 1.2rem;
}

.header-title{
    margin-top: 80px !important;
}
.blog-img{
    height: 400px !important;
    width: 870px !important;

}

.disabled {
    pointer-events: none !important;
    cursor: default !important;
    text-decoration: none !important;
    color: #fff !important;
}


@media screen and (max-width:1189px){

}

@media screen and (max-width:767px){

}

@media screen and (max-width:479px){

}
