{% extends 'website/base.html.twig' %}

{% block body %}
    <div class="theme-page">
        <div class="row gray full-width page-header vertical-align-table">
            <div class="row">
                <div class="page-header-left">
                    <h1>ABOUT US</h1>
                </div>
                <div class="page-header-right">
                    <div class="bread-crumb-container">
                        <ul class="bread-crumb">
                            <li>
                                <a title="Home" href="?page=home">
                                    Home
                                </a>
                            </li>
                            <li class="separator">
                                &#47;
                            </li>
                            <li>
                                About Us
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="clearfix">
            <div class="row page-margin-top-section">
                <div class="column column-1-2">
                    <div class="row">
                        <a href="images/samples/640x480/placeholder.jpg" class="prettyPhoto cm-preload" title="House Cleaning">
                            <img src='images/samples/640x480/placeholder.jpg' alt='img'>
                        </a>
                    </div>
                    <div class="row margin-top-30">
                        <div class="column column-1-2">
                            <a href="images/samples/480x320/placeholder.jpg" class="prettyPhoto cm-preload" title="Move In Out Services">
                                <img src='images/samples/370x246/placeholder.jpg' alt='img'>
                            </a>
                        </div>
                        <div class="column column-1-2">
                            <a href="images/samples/480x320/placeholder.jpg" class="prettyPhoto cm-preload" title="After Renovation Cleaning">
                                <img src='images/samples/370x246/placeholder.jpg' alt='img'>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="column column-1-2">
                    <div class="row padding-left-right-30">
                        <h2 class="box-header align-left">WHO WE ARE</h2>
                        <p class="description">Founded in 1995 Cleanmate quickly built a reputation as one of the leading providers of residential cleaning solutions.</p>
                        <p class="padding-0 margin-top-27">Our continuous pursuit for perfection has resulted in consistent growth each year. Our focus is to really listen to our clients, understand their needs and provide the exceptional level of residential and commercial cleaning or maid service that makes them relax with the confidence that the job will be done well. Our cleaning services are thorough, consistent and customized.</p>
                        <h4 class="margin-top-40">OUR MISSION IS TO:</h4>
                        <ul class="list margin-top-20">
                            <li class="template-tick-1">Offer a different kind of services to families and professionals</li>
                            <li class="template-tick-1">Deliver high quality and consistent services</li>
                            <li class="template-tick-1">Use environmentall friendly cleaning products</li>
                            <li class="template-tick-1">Provide stable jobs with resonable wages</li>
                            <li class="template-tick-1">Concentrate our resources on maintaining standards</li>
                            <li class="template-tick-1">Make you an extremely satisfied customer</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row full-width page-margin-top-section page-padding-top-section padding-bottom-100 parallax parallax-3 overlay">
                <div class="row">
                    <ul class="services-list services-icons clearfix">
                        <li class="column column-1-3">
                            <span class="service-icon big features-credit-card tick"></span>
                            <h4>EASY PAYMENTS</h4>
                            <p>Easy payments via paypal or via credit card payment processing service.</p>
                        </li>
                        <li class="column column-1-3">
                            <span class="service-icon big features-pet tick"></span>
                            <h4>PET FRIENDLY</h4>
                            <p>We us pet friendly cleaners as your pet is a valued member of your family.</p>
                        </li>
                        <li class="column column-1-3">
                            <span class="service-icon big features-delivery tick"></span>
                            <h4>ALWAYS ON TIME</h4>
                            <p>Your time is important to us. We provide always on time cleaning service.</p>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="row page-margin-top-section padding-bottom-66">
                <div class="column column-2-3">
                    <h3>WE CARE ABOUT YOUR HOUSE</h3>
                    <p class="description">Founded in 1995 Cleanmate quickly built a reputation as one of the leading providers of residential and commercial cleaning solutions. Our continuous pursuit for perfection has resulted in consistent growth each year. Our focus is to listen to our clients.</p>
                    <div class="row page-margin-top">
                        <ul class="features-list">
                            <li class="column column-1-2">
                                <div class="icon features-home-4"></div>
                                <h4>WE CARE ABOUT YOUR HOUSE</h4>
                                <p>We care about your house cleaning and we're not satisfied if you're not satisfied with the maid service.</p>
                            </li>
                            <li class="column column-1-2">
                                <div class="icon features-location-1"></div>
                                <h4>WE ARE CLOSE TO YOU</h4>
                                <p>We have many locations around US and Canada, no matter where you live we are close to you!</p>
                            </li>
                        </ul>
                    </div>
                    <div class="row page-margin-top">
                        <ul class="features-list">
                            <li class="column column-1-2">
                                <div class="icon features-trolley"></div>
                                <h4>WE HELP IN MOVING</h4>
                                <p>Are you moving out or moving in a new house? Let us help you clean and take care of your property.</p>
                            </li>
                            <li class="column column-1-2">
                                <div class="icon features-shirt-1"></div>
                                <h4>IRONING AND COOKING</h4>
                                <p>Maids perform typical domestic chores such as cooking, ironing, grocery shopping or walking the family dog.</p>
                            </li>
                        </ul>
                    </div>
                    <div class="row page-margin-top">
                        <ul class="features-list">
                            <li class="column column-1-2">
                                <div class="icon features-wrench"></div>
                                <h4>MINOR REPAIRS</h4>
                                <p>Not only cleaning but minor repairs too.</p>
                            </li>
                            <li class="column column-1-2">
                                <div class="icon features-vacuum-cleaner"></div>
                                <h4>INDUSTRIAL CLEANING</h4>
                                <p>Cleanmate offers a verity of industrial cleaning and maintenance services.</p>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="column column-1-3">
                    <ul class="services-list services-icons clearfix">
                        <li class="background background-5 overlay">
                            <a href="?page=service_calculator" title="Cost Calculator">
                                <span class="service-icon features-calculator"></span>
                            </a>
                            <h4><a href="?page=service_calculator" title="Cost Calculator">COST CALCULATOR</a></h4>
                            <p class="description">Estimate your cleaning cost.</p>
                            <div class="align-center margin-top-40 padding-bottom-16">
                                <a class="more" href="?page=service_calculator" title="Learn more">Learn more</a>
                            </div>
                        </li>
                        <li class="background background-6 overlay margin-top-30">
                            <a href="?page=service_calculator" title="Special Cleaning Offer">
                                <span class="service-icon features-bag"></span>
                            </a>
                            <h4><a href="?page=service_calculator" title="Special Cleaning Offer">SPECIAL CLEANING OFFER</a></h4>
                            <p class="description">50% off until end of January</p>
                            <div class="align-center margin-top-40 padding-bottom-16">
                                <a class="more" href="?page=service_calculator" title="Learn more">Learn more</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="row gray full-width padding-top-89 padding-bottom-100">
                <div class="row">
                    <div class="column column-1-2">
                        <h3>BRANDS WHO TRUST US</h3>
                        <div class="our-clients-list-container margin-top-40 type-list">
                            <ul class="our-clients-list type-list">
                                <li class="vertical-align">
                                    <div class="our-clients-item-container">
                                        <div class="vertical-align-cell">
                                            <a target="_blank" href="https://quanticalabs.com">
                                                <img src="images/logos/logo_01.png" alt="">
                                            </a>
                                        </div>
                                    </div>
                                </li>
                                <li class="vertical-align">
                                    <div class="our-clients-item-container">
                                        <div class="vertical-align-cell">
                                            <a target="_blank" href="https://quanticalabs.com">
                                                <img src="images/logos/logo_02.png" alt="">
                                            </a>
                                        </div>
                                    </div>
                                </li>
                                <li class="vertical-align">
                                    <div class="our-clients-item-container">
                                        <div class="vertical-align-cell">
                                            <a target="_blank" href="https://quanticalabs.com">
                                                <img src="images/logos/logo_04.png" alt="">
                                            </a>
                                        </div>
                                    </div>
                                </li>
                                <li class="vertical-align">
                                    <div class="our-clients-item-container">
                                        <div class="vertical-align-cell">
                                            <a target="_blank" href="https://quanticalabs.com">
                                                <img src="images/logos/logo_03.png" alt="">
                                            </a>
                                        </div>
                                    </div>
                                </li>
                                <li class="vertical-align">
                                    <div class="our-clients-item-container">
                                        <div class="vertical-align-cell">
                                            <a target="_blank" href="https://quanticalabs.com">
                                                <img src="images/logos/logo_05.png" alt="">
                                            </a>
                                        </div>
                                    </div>
                                </li>
                                <li class="vertical-align">
                                    <div class="our-clients-item-container">
                                        <div class="vertical-align-cell">
                                            <a target="_blank" href="https://quanticalabs.com">
                                                <img src="images/logos/logo_06.png" alt="">
                                            </a>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="column column-1-2">
                        <h3>CLIENT'S OPINIONS</h3>
                        <div class="row testimonials-container type-small margin-top-40">
                            <div class="cm-carousel-pagination"></div>
                            <ul class="testimonials-list testimonials-carousel autoplay-0 pause_on_hover-1">
                                <li>
                                    <p class="template-quote">We would like to thank Cleanmate company for an outstanding effort on this
                                        recently completed project located in the Moscow. The project involved a very
                                        aggressive schedule and it was completed on time. We would certainly like to
                                        use their professional services again.</p>
                                    <div class="author-details-box">
                                        <div class="author">Stacey, North Lynnwood</div>
                                        <!--<div class="author-details">CLEANING TECHNICAN</div>-->
                                    </div>
                                </li>
                                <li>
                                    <p class="template-quote">We would like to thank Cleanmate company for an outstanding effort on this
                                        recently completed project located in the Moscow. The project involved a very
                                        aggressive schedule and it was completed on time. We would certainly like to
                                        use their professional services again.</p>
                                    <div class="author-details-box">
                                        <div class="author">Mark, South Everett</div>
                                        <!--<div class="author-details">CLEANING TECHNICAN</div>-->
                                    </div>
                                </li>
                                <li>
                                    <p class="template-quote">We would like to thank Cleanmate company for an outstanding effort on this
                                        recently completed project located in the Moscow. The project involved a very
                                        aggressive schedule and it was completed on time. We would certainly like to
                                        use their professional services again.</p>
                                    <div class="author-details-box">
                                        <div class="author">Anthony, Bellevue</div>
                                        <!--<div class="author-details">CLEANING TECHNICAN</div>-->
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock  %}
