{% extends 'website/base.html.twig' %}

{% block header %}
    <div class="row gray full-width page-header vertical-align-table">
        <div class="row">
            <div class="page-header-left">
                <h1>ABOUT US STYLE 2</h1>
            </div>
            <div class="page-header-right">
                <div class="bread-crumb-container">
                    <ul class="bread-crumb">
                        <li>
                            <a title="Home" href="?page=home">
                                Home
                            </a>
                        </li>
                        <li class="separator">
                            &#47;
                        </li>
                        <li>
                            About Us Style 2
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block body %}
    <div class="theme-page">
        <div class="row full-width header-background header-background-1"></div>
        <div class="clearfix">
            <div class="row page-margin-top-section">
                <ul class="features-list">
                    <li class="column column-1-3">
                        <div class="icon features-person"></div>
                        <h4>WHO WE ARE</h4>
                        <p>Founded in 1995 we became one of the leading providers of residential and commercial cleaning solutions in Canada and United States.</p>
                    </li>
                    <li class="column column-1-3">
                        <div class="icon features-task"></div>
                        <h4>WHAT WE DO</h4>
                        <p>We provide professional cleaning services designed to keep your home sparkling and beautiful so that you can focus on things that matter more to you.</p>
                    </li>
                    <li class="column column-1-3">
                        <div class="icon features-home-4"></div>
                        <h4>OUR MISSION</h4>
                        <p>Our focus is to listen to our clients, understand their needs and provide the exceptional level of residential and commercial cleaning services.</p>
                    </li>
                </ul>
            </div>
            <div class="row full-width gray flex-box page-margin-top-section">
                <div class="column column-1-2 background-2">
                    <a class="flex-hide" href="?page=service_window_cleaning" title="Window Cleaning">
                        <img src="images/samples/960x750/placeholder.jpg" alt="">
                    </a>
                </div>
                <div class="column column-1-2 padding-bottom-96">
                    <div class="row padding-left-right-100">
                        <h2 class="box-header align-left margin-top-89">REASONS TO CHOOSE US</h2>
                        <p class="description">Cleanmate opperates in Ottawa and provides a variety of cleaning services. Choose us because of our reputation for excellence.</p>
                        <div class="row page-margin-top">
                            <ol class="features-list">
                                <li class="column column-1-2">
                                    <span class="list-number">1</span>
                                    <h4>SPARKLING CLEAN</h4>
                                    <p>We keep your home sparkling clean and germ free. Our disinfecting process kills 99% of common bacteria and viruses.</p>
                                </li>
                                <li class="column column-1-2">
                                    <span class="list-number">2</span>
                                    <h4>LEADING TECHNOLOGIES</h4>
                                    <p>We use safe hospital-grade disinfectants, HEPA filtrations and microfiber cleaning cloths.</p>
                                </li>
                            </ol>
                        </div>
                        <div class="row page-margin-top">
                            <ol class="features-list">
                                <li class="column column-1-2">
                                    <span class="list-number">3</span>
                                    <h4>INSURED AND BONDED</h4>
                                    <p>Our cleaners are insured and bonded so no need to worry about your apartment.</p>
                                </li>
                                <li class="column column-1-2">
                                    <span class="list-number">4</span>
                                    <h4>RELIABLE CREWS</h4>
                                    <p>Our reliable and stable crews understand your specific clearning service needs.</p>
                                </li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row full-width padding-top-89 padding-bottom-100">
                <div class="row">
                    <h2 class="box-header">MEET OUR TEAM</h2>
                    <p class="description align-center">Our team is our most valuable resource. All of our cleaning technicians have earned professional<br>cleaner certification through maid training academy.</p>
                    <ul class="team-list gray margin-top-65 clearfix">
                        <li class="team-box column column-1-3">
                            <a href="?page=team_karisma_taruda" title="Karisma Taruda" class="image-box">
                                <img alt="Karisma Taruda" src="images/samples/260x260/placeholder.jpg">
                            </a>
                            <h4><a href="?page=team_karisma_taruda" title="Karisma Taruda">KARISMA TARUDA</a></h4>
                            <p>Co-Founder, Office Manager</p>
                            <ul class="social-icons align-center">
                                <li>
                                    <a target="_blank" href="https://twitter.com/QuanticaLabs" class="social-twitter" title="twitter"></a>
                                </li>
                                <li>
                                    <a target="_blank" href="https://1.envato.market/quanticalabs-portfolio" class="social-google-plus" title="google-plus"></a>
                                </li>
                            </ul>
                        </li>
                        <li class="team-box column column-1-3">
                            <a href="?page=team_paige_morgan" title="Paige Morgan" class="image-box">
                                <img alt="Paige Morgan" src="images/samples/260x260/placeholder.jpg">
                            </a>
                            <h4><a href="?page=team_paige_morgan" title="Paige Morgan">PAIGE MORGAN</a></h4>
                            <p>Cleaning Technican</p>
                            <ul class="social-icons align-center">
                                <li>
                                    <a target="_blank" href="https://facebook.com/QuanticaLabs" class="social-facebook" title="facebook"></a>
                                </li>
                                <li>
                                    <a target="_blank" href="https://twitter.com/QuanticaLabs" class="social-twitter" title="twitter"></a>
                                </li>
                            </ul>
                        </li>
                        <li class="team-box column column-1-3">
                            <a href="?page=team_celevic_parkhill" title="Celevic Parkhill" class="image-box">
                                <img alt="Celevic Parkhill" src="images/samples/260x260/placeholder.jpg">
                            </a>
                            <h4><a href="?page=team_celevic_parkhill" title="Celevic Parkhill">CELEVIC PARKHILL</a></h4>
                            <p>Cleaning Technican, Toronto Division</p>
                            <ul class="social-icons align-center">
                                <li>
                                    <a target="_blank" href="https://pinterest.com/quanticalabs/" class="social-pinterest" title="pinterest"></a>
                                </li>
                                <li>
                                    <a target="_blank" href="https://1.envato.market/quanticalabs-portfolio" class="social-envato" title="envato"></a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                    <div class="align-center margin-top-65 padding-bottom-16">
                        <a class="more" href="?page=team" title="All our technicians">All our technicians</a>
                    </div>
                </div>
            </div>
            <div class="row full-width padding-bottom-100 counters-group parallax parallax-2 overlay">
                <div class="row">
                    <div class="column column-1-4">
                        <div class="counter-box">
                            <div class="ornament-container">
                                <div class="ornament animated-element duration-2000 animation-ornamentHeight"></div>
                            </div>
                            <span class="number animated-element" data-value="295"></span>
                            <p>COMPLETED MOVINGS</p>
                        </div>
                    </div>
                    <div class="column column-1-4">
                        <div class="counter-box">
                            <div class="ornament-container">
                                <div class="ornament animated-element duration-2000 animation-ornamentHeight"></div>
                            </div>
                            <span class="number animated-element" data-value="400"></span>
                            <p>HAPPY CUSTOMERS</p>
                        </div>
                    </div>
                    <div class="column column-1-4">
                        <div class="counter-box">
                            <div class="ornament-container">
                                <div class="ornament animated-element duration-2000 animation-ornamentHeight"></div>
                            </div>
                            <span class="number animated-element" data-value="527"></span>
                            <p>COMPLETED PROJECTS</p>
                        </div>
                    </div>
                    <div class="column column-1-4">
                        <div class="counter-box">
                            <div class="ornament-container">
                                <div class="ornament animated-element duration-2000 animation-ornamentHeight"></div>
                            </div>
                            <span class="number animated-element" data-value="105"></span>
                            <p>PLACES CLEANED</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row full-width padding-top-89 padding-bottom-100">
                <div class="row">
                    <div class="column column-1-2">
                        <h3>BRANDS WHO TRUST US</h3>
                        <div class="our-clients-list-container margin-top-40 type-list">
                            <ul class="our-clients-list gray type-list">
                                <li class="vertical-align">
                                    <div class="our-clients-item-container">
                                        <div class="vertical-align-cell">
                                            <a target="_blank" href="https://quanticalabs.com">
                                                <img src="images/logos/logo_07.png" alt="">
                                            </a>
                                        </div>
                                    </div>
                                </li>
                                <li class="vertical-align">
                                    <div class="our-clients-item-container">
                                        <div class="vertical-align-cell">
                                            <a target="_blank" href="https://quanticalabs.com">
                                                <img src="images/logos/logo_08.png" alt="">
                                            </a>
                                        </div>
                                    </div>
                                </li>
                                <li class="vertical-align">
                                    <div class="our-clients-item-container">
                                        <div class="vertical-align-cell">
                                            <a target="_blank" href="https://quanticalabs.com">
                                                <img src="images/logos/logo_10.png" alt="">
                                            </a>
                                        </div>
                                    </div>
                                </li>
                                <li class="vertical-align">
                                    <div class="our-clients-item-container">
                                        <div class="vertical-align-cell">
                                            <a target="_blank" href="https://quanticalabs.com">
                                                <img src="images/logos/logo_09.png" alt="">
                                            </a>
                                        </div>
                                    </div>
                                </li>
                                <li class="vertical-align">
                                    <div class="our-clients-item-container">
                                        <div class="vertical-align-cell">
                                            <a target="_blank" href="https://quanticalabs.com">
                                                <img src="images/logos/logo_11.png" alt="">
                                            </a>
                                        </div>
                                    </div>
                                </li>
                                <li class="vertical-align">
                                    <div class="our-clients-item-container">
                                        <div class="vertical-align-cell">
                                            <a target="_blank" href="https://quanticalabs.com">
                                                <img src="images/logos/logo_12.png" alt="">
                                            </a>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="column column-1-2">
                        <h3>CLIENT'S OPINIONS</h3>
                        <div class="row testimonials-container type-small margin-top-40">
                            <div class="cm-carousel-pagination"></div>
                            <ul class="testimonials-list testimonials-carousel gray autoplay-0 pause_on_hover-1">
                                <li>
                                    <p class="template-quote">We would like to thank Cleanmate company for an outstanding effort on this
                                        recently completed project located in the Moscow. The project involved a very
                                        aggressive schedule and it was completed on time. We would certainly like to
                                        use their professional services again.</p>
                                    <div class="author-details-box">
                                        <div class="author">Stacey, North Lynnwood</div>
                                        <!--<div class="author-details">CLEANING TECHNICAN</div>-->
                                    </div>
                                </li>
                                <li>
                                    <p class="template-quote">We would like to thank Cleanmate company for an outstanding effort on this
                                        recently completed project located in the Moscow. The project involved a very
                                        aggressive schedule and it was completed on time. We would certainly like to
                                        use their professional services again.</p>
                                    <div class="author-details-box">
                                        <div class="author">Mark, South Everett</div>
                                        <!--<div class="author-details">CLEANING TECHNICAN</div>-->
                                    </div>
                                </li>
                                <li>
                                    <p class="template-quote">We would like to thank Cleanmate company for an outstanding effort on this
                                        recently completed project located in the Moscow. The project involved a very
                                        aggressive schedule and it was completed on time. We would certainly like to
                                        use their professional services again.</p>
                                    <div class="author-details-box">
                                        <div class="author">Anthony, Bellevue</div>
                                        <!--<div class="author-details">CLEANING TECHNICAN</div>-->
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
