{% extends 'website/base.html.twig' %}

{% block header %}
    <div class="row gray full-width page-header vertical-align-table">
        <div class="row">
            <div class="page-header-left">
                <h1 class="uppercase">Les membres du Conseil d'Admninistrration de l'UONGTO</h1>
            </div>
            <div class="page-header-right">
                <div class="bread-crumb-container">
                    <ul class="bread-crumb">
                        <li><a title="Home" href="?page=home">Accueil</a>
                        </li>
                        <li class="separator">&#47;</li>
                        <li>Qui est qui ?</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block body  %}
    <div class="theme-page">
        <div class="row full-width header-background header-background-1"></div>
        <div class="clearfix">
            <div class="row full-width padding-top-89 padding-bottom-100">
                <div class="row">
                    <h2 class="box-header">Le Conseil d'Administration</h2>
                    <p class="description align-center">Le conseil d'adminitration de l'UONGTO est élu pour <strong>un mandat de 3 ans</strong>.
                        <br> Ce conseil est constitué d'éminante personalité qui ont pour devoir de conduire l'institution</p>
                    {% if personalities is defined and personalities is not null %}
                    <ul class="team-list gray margin-top-65 clearfix">
                        {% for personality in personalities %}
                        <li class="team-box column column-1-3">
                            <a href="#" title="Karisma Taruda" class="image-box">
                                <img alt="Karisma Taruda" src="{{ asset('assets/images/img/user/ca-akpa.jpg') }}">
                            </a>
                            <h4><a href="#" title="Akpa Komi">AKPA Komi</a></h4>
                            <p>Président du C.A, D.E de PASYD</p>
                            <ul class="social-icons align-center">
                                <li>
                                    <a target="_blank" href="#" class="social-twitter" title="twitter"></a>
                                </li>
                                <li>
                                    <a target="_blank" href="#" class="social-facebook" title="facebook"></a>
                                </li>
                            </ul>
                        </li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                </div>
            </div>
            <div class="row full-width gray flex-box">
                <div class="column column-1-3 padding-bottom-96">
                    <div class="row padding-left-right-70 margin-top-89">
                        <h4>Nos Thématiques</h4>
                        <ul class="list margin-top-20">
                            <li class="template-tick-1">Agriculture, élevage et pêche</li>
                            <li class="template-tick-1">Bonne gouvernance.</li>
                            <li class="template-tick-1">Décentralisation</li>
                            <li class="template-tick-1">Droits humains, Genre et Équité</li>
                            <li class="template-tick-1">Éducation, formation professionnelle et alphabétisation</li>
                            <li class="template-tick-1">Emploi et entreprenariat</li>
                            <li class="template-tick-1">Renforcement des capacités</li>
                            <li class="template-tick-1">Environnement, changement climatique et gestion des catastrophes et humanitaire</li>
                            <li class="template-tick-1">Santé, hygiène, eau et assainissement</li>
                        </ul>
                    </div>
                </div>
                <div class="column column-1-3 background-3">
                    <a class="flex-hide" href="#" title="Gutter Cleaning">
                        <img src="{{ asset('assets/images/img/bg-3.jpg') }}" alt="">
                    </a>
                </div>
                <div class="column column-1-3 padding-bottom-100 green">
                    <div class="row padding-left-right-70 margin-top-89">
                        <h2 class="font-weight-300">Want to talk?</h2>
                        <h2>Please call now: <a href="tel:2507257052">250 725 7052</a></h2>
                        <p class="description margin-top-20">Need a special cleaning service? We are happy to fulfill every request in order to exceed your expectations.</p>
                        <div class="page-margin-top padding-bottom-16">
                            <a class="more" href="?page=contact" title="Contact form">Contact form</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row full-width padding-top-89 padding-bottom-100">
                <div class="row">
                    <div class="column column-1-2">
                        <h3>LEARN MORE</h3>
                        <ul class="accordion margin-top-40 clearfix">
                            <li>
                                <div id="accordion-house-cleaning">
                                    <h4>How many people will come to clean my house?</h4>
                                </div>
                                <div class="clearfix">
                                    <a class="thumb-image" href="?page=about"><img alt="" src="images/samples/260x260/placeholder.jpg"></a>
                                    <p>What makes Cleanmate trusted above other cleaning service providers? When you combine higher standards, smarter strategies and superior quality all in one package, the result is top notch.</p>
                                </div>
                            </li>
                            <li>
                                <div id="accordion-present-for-cleaning">
                                    <h4>Do I have to be present for a cleaning?</h4>
                                </div>
                                <div class="clearfix">
                                    <a class="thumb-image" href="?page=about"><img alt="" src="images/samples/260x260/placeholder.jpg"></a>
                                    <p>What makes Cleanmate trusted above other cleaning service providers? When you combine higher standards, smarter strategies and superior quality all in one package, the result is top notch.</p>
                                </div>
                            </li>
                            <li>
                                <div id="accordion-how-long">
                                    <h4>How long will it take to clean my house?</h4>
                                </div>
                                <div class="clearfix">
                                    <a class="thumb-image" href="?page=about"><img alt="" src="images/samples/260x260/placeholder.jpg"></a>
                                    <p>What makes Cleanmate trusted above other cleaning service providers? When you combine higher standards, smarter strategies and superior quality all in one package, the result is top notch.</p>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="column column-1-2">
                        <h3>DID YOU KNOW?</h3>
                        <div class="row margin-top-40">
                            <div class="column column-1-2">
                                <div class="single-counter-box">
                                    <span class="number animated-element" data-value="95">0</span><span class="number-sign">%</span>
                                    <p>Women feel better when their home is clean.</p>
                                    <div class="ornament-container">
                                        <div class="ornament animated-element duration-2000 animation-width"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="column column-1-2">
                                <div class="single-counter-box">
                                    <span class="number animated-element" data-value="80">0</span><span class="number-sign">%</span>
                                    <p>More dust is found on carpets then floorboards.</p>
                                    <div class="ornament-container">
                                        <div class="ornament animated-element duration-2000 animation-width"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row margin-top-30">
                            <div class="column column-1-2">
                                <div class="single-counter-box">
                                    <span class="number animated-element" data-value="54">0</span><span class="number-sign">%</span>
                                    <p>Americans prefer to clean on a weekly basis.</p>
                                    <div class="ornament-container">
                                        <div class="ornament animated-element duration-2000 animation-width"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="column column-1-2">
                                <div class="single-counter-box">
                                    <span class="number animated-element" data-value="20">0</span><span class="number-sign">%</span>
                                    <p>Of men do housework on a daily basis.</p>
                                    <div class="ornament-container">
                                        <div class="ornament animated-element duration-2000 animation-width"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row full-width page-padding-top-section padding-bottom-100 parallax parallax-3 overlay">
                <div class="row">
                    <ul class="services-list services-icons clearfix">
                        <li class="column column-1-3">
                            <span class="service-icon big features-credit-card tick"></span>
                            <h4>EASY PAYMENTS</h4>
                            <p>Easy payments via paypal or via credit card payment processing service.</p>
                        </li>
                        <li class="column column-1-3">
                            <span class="service-icon big features-pet tick"></span>
                            <h4>PET FRIENDLY</h4>
                            <p>We us pet friendly cleaners as your pet is a valued member of your family.</p>
                        </li>
                        <li class="column column-1-3">
                            <span class="service-icon big features-delivery tick"></span>
                            <h4>ALWAYS ON TIME</h4>
                            <p>Your time is important to us. We provide always on time cleaning service.</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
