{% extends 'website/base.html.twig' %}

{% block body %}
    <div class="theme-page">
        <div class="row gray full-width page-header vertical-align-table">
            <div class="row">
                <div class="page-header-left">
                    <h1>CELEVIC PARKHILL</h1>
                </div>
                <div class="page-header-right">
                    <div class="bread-crumb-container">
                        <ul class="bread-crumb">
                            <li>
                                <a title="Home" href="?page=home">
                                    Home
                                </a>
                            </li>
                            <li class="separator">
                                &#47;
                            </li>
                            <li>
                                <a title="Our Team" href="?page=team">
                                    Our Team
                                </a>
                            </li>
                            <li class="separator">
                                &#47;
                            </li>
                            <li>
                                Celevic Parkhill
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="clearfix">
            <div class="row gray mobile-paddings padding-bottom-36 page-margin-top-section">
                <div class="column column-1-3">
                    <div class="team-list single gray padding-left-20">
                        <div class="team-box">
                            <img alt="Celevic Parkhill" src="images/samples/260x260/placeholder.jpg">
                            <ul class="social-icons align-center">
                                <li>
                                    <a target="_blank" href="https://pinterest.com/quanticalabs/" class="social-pinterest" title="pinterest"></a>
                                </li>
                                <li>
                                    <a target="_blank" href="https://1.envato.market/quanticalabs-portfolio" class="social-envato" title="envato"></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="column column-1-3 margin-top-40">
                    <div class="padding-left-right-20">
                        <h2>CELEVIC PARKHILL</h2>
                        <p class="description margin-top-10">Cleaning Technican, Toronto Division</p>
                        <p class="margin-top-14">I'm very organized person. I know how to clean efficiently. I'm very detailed and won't leave until everything is spotless and sanitized. I have two kids and that taught me a lot. I have cleaned houses for over ten years.</p>
                        <p>I will come in early and make a delicious breakfast, clean it up and start the laundry. I will fold, iron, hang and put everything away. I will detail your home, top to bottom and make it show-ready.</p>
                    </div>
                </div>
                <div class="column column-1-3 margin-top-42">
                    <div class="padding-right-30 padding-left-10">
                        <h4>PERSONAL INFO</h4>
                        <table class="margin-top-33">
                            <tbody>
                            <tr>
                                <td>Age</td>
                                <td>26 Years</td>
                            </tr>
                            <tr>
                                <td>Living in</td>
                                <td>Tempa, AZ</td>
                            </tr>
                            <tr>
                                <td>Experience</td>
                                <td>2 Years</td>
                            </tr>
                            <tr>
                                <td>Driving license</td>
                                <td>Yes</td>
                            </tr>
                            <tr>
                                <td>Hourly rate</td>
                                <td>$20.00 - $50.00</td>
                            </tr>
                            <tr>
                                <td>Phone</td>
                                <td><a href="tel:505272255">505 272 255</a></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="row margin-top-67 padding-bottom-96">
                <ul class="features-list column column-1-4">
                    <li>
                        <div class="icon features-vacuum-cleaner"></div>
                        <h4>HOUSEKEEPING</h4>
                        <p>I am trustworthy, dependable and pay excellent attention to detail. I've been cleaning houses for over ten years.</p>
                    </li>
                </ul>
                <ul class="features-list column column-1-4">
                    <li>
                        <div class="icon features-cooking-gloves"></div>
                        <h4>COOKING</h4>
                        <p>I cook italian food especially well. I can prepare an homemade lasagna or any other food anytime in any kitchen.</p>
                    </li>
                </ul>
                <ul class="features-list column column-1-4">
                    <li>
                        <div class="icon features-baby-stroller"></div>
                        <h4>BABYSITTING</h4>
                        <p>I have experience with newborns through teenagers. I have excellent checkable references.</p>
                    </li>
                </ul>
                <ul class="features-list column column-1-4">
                    <li>
                        <div class="icon features-gardening"></div>
                        <h4>GARDENING</h4>
                        <p>Simple garden works like mowing the lawn, basic flower gardening, harvest vegetable and grocery shopping.</p>
                    </li>
                </ul>
            </div>
            <div class="row full-width gray flex-box">
                <div class="column column-1-3 padding-bottom-96">
                    <div class="row padding-left-right-70 margin-top-89">
                        <h4>MY DUTIES:</h4>
                        <ul class="list margin-top-20">
                            <li class="template-tick-2">Offer a different kind of services to families and professionals</li>
                            <li class="template-tick-2">Deliver high quality and consistent services</li>
                            <li class="template-tick-2">Use environmentall friendly cleaning products</li>
                            <li class="template-tick-2">Provide stable jobs with resonable wages</li>
                            <li class="template-tick-2">Concentrate our resources on maintaining standards</li>
                            <li class="template-tick-2">Make you an extremely satisfied customer</li>
                        </ul>
                    </div>
                </div>
                <div class="column column-1-3 background background-4 padding-bottom-96 overlay">
                    <div class="row padding-left-right-70 margin-top-89">
                        <h4 class="white">MY SKILLS:</h4>
                        <ul class="list white margin-top-20">
                            <li class="template-tick-2">Professional cleaning and household maintenance</li>
                            <li class="template-tick-2">Day care for children and eldery persons</li>
                            <li class="template-tick-2">Good Managing one's own time</li>
                            <li class="template-tick-2">Great knowledge of the English language</li>
                            <li class="template-tick-2">Highly skilled in vacumming, sweeping and mopping</li>
                            <li class="template-tick-2">Able to clean all fixtures and furniture safely</li>
                        </ul>
                    </div>
                </div>
                <div class="column column-1-3 padding-bottom-100">
                    <div class="row padding-left-right-70 margin-top-89">
                        <h2 class="font-weight-300">Want to talk?</h2>
                        <h2 class="green">Please call now: <a href="tel:2507257052">250 725 7052</a></h2>
                        <p class="description margin-top-20">Need a special cleaning service? We are happy to fulfill every request in order to exceed your expectations.</p>
                        <div class="page-margin-top padding-bottom-16">
                            <a class="more" href="?page=contact" title="Contact form">Contact form</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row margin-top-89">
                <h2 class="box-header">MY EXPERIENCE</h2>
                <p class="description align-center">I am trustworthy, dependable and pay excellent attention to detail.<br>I've been cleaning houses for over ten years.</p>
                <div class="timeline-item vertical-align-table margin-top-65 right first">
                    <div class="timeline-left vertical-align-cell">
                        <div class="label-container">
                            <div class="animated-element animation-slideLeft10">
                                <span class="label-triangle"></span>
                                <label>2015 - 2016</label>
                            </div>
                            <span class="timeline-circle animated-element animation-scale"></span>
                        </div>
                    </div>
                    <div class="timeline-content-container vertical-align-cell">
                        <div class="flex-container animated-element animation-slideRight10">
                            <div class="timeline-arrow-container">
                                <div class="timeline-arrow"></div>
                            </div>
                            <div class="timeline-content">
                                <h4 class="clearfix">
                                    <span class="timeline-title">ANN WILBERG CLEANING</span><span class="timeline-subtitle">MAID SERVICE</span>
                                </h4>
                                <p>Paetos dignissim at cursus elefeind norma arcu. Pellentesque accumsan est in tempus etos ullamcorper, sem quam suscipit lacus maecenas tortor cursus elefeind dignissim.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="timeline-item vertical-align-table">
                    <div class="timeline-left vertical-align-cell">
                        <div class="label-container">
                            <div class="animated-element animation-slideRight10">
                                <span class="label-triangle"></span>
                                <label>2013 - 2015</label>
                            </div>
                            <span class="timeline-circle animated-element animation-scale"></span>
                        </div>
                    </div>
                    <div class="timeline-content-container vertical-align-cell">
                        <div class="flex-container animated-element animation-slideLeft10">
                            <div class="timeline-arrow-container">
                                <div class="timeline-arrow"></div>
                            </div>
                            <div class="timeline-content">
                                <h4 class="clearfix">
                                    <span class="timeline-title">SERVICE MASTER CO.</span><span class="timeline-subtitle">SERVICE OPERATOR</span>
                                </h4>
                                <p>Paetos dignissim at cursus elefeind norma arcu. Pellentesque accumsan est in tempus etos ullamcorper, sem quam suscipit lacus maecenas tortor cursus elefeind dignissim.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="timeline-item vertical-align-table last right">
                    <div class="timeline-left vertical-align-cell">
                        <div class="label-container">
                            <div class="animated-element animation-slideLeft10">
                                <span class="label-triangle"></span>
                                <label>2012 - 2013</label>
                            </div>
                            <span class="timeline-circle animated-element animation-scale"></span>
                        </div>
                    </div>
                    <div class="timeline-content-container vertical-align-cell">
                        <div class="flex-container animated-element animation-slideRight10">
                            <div class="timeline-arrow-container">
                                <div class="timeline-arrow"></div>
                            </div>
                            <div class="timeline-content">
                                <h4 class="clearfix">
                                    <span class="timeline-title">STEAM CLEAN</span><span class="timeline-subtitle">CLEANING TECHNICAN</span>
                                </h4>
                                <p>Paetos dignissim at cursus elefeind norma arcu. Pellentesque accumsan est in tempus etos ullamcorper, sem quam suscipit lacus maecenas tortor cursus elefeind dignissim.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row gray full-width page-margin-top-section padding-top-89 padding-bottom-100">
                <div class="row">
                    <h2 class="box-header">MEET OTHER MEMBERS</h2>
                    <p class="description align-center">Our team is our most valuable resource. All of our cleaning technicians have earned professional<br>cleaner certification through maid training academy.</p>
                    <ul class="team-list margin-top-65 clearfix">
                        <li class="team-box column column-1-3">
                            <a href="?page=team_karisma_taruda" title="Karisma Taruda" class="image-box">
                                <img alt="Karisma Taruda" src="images/samples/260x260/placeholder.jpg">
                            </a>
                            <h4><a href="?page=team_karisma_taruda" title="Karisma Taruda">KARISMA TARUDA</a></h4>
                            <p>Co-Founder, Office Manager</p>
                            <ul class="social-icons align-center">
                                <li>
                                    <a target="_blank" href="https://twitter.com/QuanticaLabs" class="social-twitter" title="twitter"></a>
                                </li>
                                <li>
                                    <a target="_blank" href="https://1.envato.market/quanticalabs-portfolio" class="social-google-plus" title="google-plus"></a>
                                </li>
                            </ul>
                        </li>
                        <li class="team-box column column-1-3">
                            <a href="?page=team_paige_morgan" title="Paige Morgan" class="image-box">
                                <img alt="Paige Morgan" src="images/samples/260x260/placeholder.jpg">
                            </a>
                            <h4><a href="?page=team_paige_morgan" title="Paige Morgan">PAIGE MORGAN</a></h4>
                            <p>Cleaning Technican</p>
                            <ul class="social-icons align-center">
                                <li>
                                    <a target="_blank" href="https://facebook.com/QuanticaLabs" class="social-facebook" title="facebook"></a>
                                </li>
                                <li>
                                    <a target="_blank" href="https://twitter.com/QuanticaLabs" class="social-twitter" title="twitter"></a>
                                </li>
                            </ul>
                        </li>
                        <li class="team-box column column-1-3">
                            <a href="?page=team_celevic_parkhill" title="Celevic Parkhill" class="image-box">
                                <img alt="Celevic Parkhill" src="images/samples/260x260/placeholder.jpg">
                            </a>
                            <h4><a href="?page=team_celevic_parkhill" title="Celevic Parkhill">CELEVIC PARKHILL</a></h4>
                            <p>Cleaning Technican, Toronto Division</p>
                            <ul class="social-icons align-center">
                                <li>
                                    <a target="_blank" href="https://pinterest.com/quanticalabs/" class="social-pinterest" title="pinterest"></a>
                                </li>
                                <li>
                                    <a target="_blank" href="https://1.envato.market/quanticalabs-portfolio" class="social-envato" title="envato"></a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                    <div class="align-center margin-top-65 padding-bottom-16">
                        <a class="more" href="?page=team" title="All our technicians">All our technicians</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
