{% extends 'admin/base.html.twig' %}

{% block title 'Nouveau Media' %}


{% block body %}
<section id="striped-row-form-layouts">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title" id="striped-row-layout-basic">Project Info</h4>
                    <a class="heading-elements-toggle"><i class="la la-ellipsis-v font-medium-3"></i></a>
                </div>
                <div class="card-content collpase show">
                    <div class="card-body">
                        <form class="form form-horizontal striped-rows form-bordered" action="#" method="post">
                            <div class="form-body">
                                <h4 class="form-section"><i class="ft-user"></i> Paramétrage</h4>
                                <div class="form-group row mx-auto">
                                    <label class="col-md-3 label-control" for="projectinput1">Titre</label>
                                    <div class="col-md-9">
                                        <input type="text" id="projectinput1" class="form-control" placeholder="First Name" name="fname">
                                    </div>
                                </div>
                                <h4 class="form-section"><i class="la la-clipboard"></i> Requirements</h4>
                                <div class="form-group row mx-auto">
                                    <label class="col-md-3 label-control" for="projectinput6">Interested in</label>
                                    <div class="col-md-9">
                                        <select id="projectinput6" name="interested" class="form-control">
                                            <option value="none" selected="" disabled="">Interested in</option>
                                            <option value="design">design</option>
                                            <option value="development">development</option>
                                            <option value="illustration">illustration</option>
                                            <option value="branding">branding</option>
                                            <option value="video">video</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="form-group row mx-auto">
                                    <label class="col-md-3 label-control" for="projectinput7">Budget</label>
                                    <div class="col-md-9">
                                        <select id="projectinput7" name="budget" class="form-control">
                                            <option value="0" selected="" disabled="">Budget</option>
                                            <option value="less than 5000$">less than 5000$</option>
                                            <option value="5000$ - 10000$">5000$ - 10000$</option>
                                            <option value="10000$ - 20000$">10000$ - 20000$</option>
                                            <option value="more than 20000$">more than 20000$</option>
                                        </select>
                                    </div>
                                </div>


                                <div class="form-group row mx-auto last upload">
                                    <label class="col-md-3 label-control" for="projectinput9">About Project</label>
                                    <div class="col-md-9">
                                        <input type="file" multiple="multiple" accept="image/jpeg, image/png, image/jpg">
                                        <output></output>

                                    </div>
                                </div>
                            </div>

                            <div class="form-actions right">
                                <button type="button" class="btn btn-warning mr-1">
                                    <i class="ft-x"></i> Cancel
                                </button>
                                <button type="submit" class="btn btn-primary">
                                    <i class="la la-check-square-o"></i> Save
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('app-assets/vendors/css/uploader/upload.css') }}">
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('app-assets/vendors/js/uploader/upload.js') }}"></script>

{% endblock %}


