{% extends 'website/base.html.twig' %}

{% block header %}
    <div class="row gray full-width page-header vertical-align-table">
        <div class="row">
            <div class="page-header-left">
                <h1>CONTACT US</h1>
            </div>

        </div>
    </div>
{% endblock %}
{% block body %}

    <div class="theme-page">
        <div class="row full-width header-background header-background-4"></div>
        <div class="clearfix">
            <div class="row page-margin-top-section">
                <ul class="features-list clearfix">
                    <li class="column column-1-4">
                        <div class="icon features-map"></div>
                        <h4>CLEANMATE LLC</h4>
                        <p>745 Adelaide Street<br>Ottawa ON K1A 5Y7</p>
                    </li>
                    <li class="column column-1-4">
                        <div class="icon features-phone"></div>
                        <h4>PHONE</h4>
                        <p>Phone: <a href="tel:2507257052">250 725 7052</a><br>Mobile: <a href="tel:2507257152">250 725 7152</a></p>
                    </li>
                    <li class="column column-1-4">
                        <div class="icon features-email"></div>
                        <h4>EMAIL</h4>
                        <p><a href="mailto:contact@cleanmate.com">contact@cleanmate.com</a><br><a href="mailto:chris@cleanmate.com">chris@cleanmate.com</a></p>
                    </li>
                    <li class="column column-1-4">
                        <div class="icon features-clock"></div>
                        <h4>BUSINESS HOURS</h4>
                        <p>Weekdays: 8.00 am - 5.00 pm<br>Saturday: 8.00 am - 2.00 pm</p>
                    </li>
                </ul>
            </div>
            <div class="row margin-top-67">
                <form class="contact-form" id="contact-form" method="post" action="contact_form/contact_form.php">
                    <div class="row flex-box">
                        <fieldset class="column column-1-2">
                            <label>YOUR NAME</label>
                            <input class="text-input" name="name" type="text" value="">
                            <label>YOUR EMAIL</label>
                            <input class="text-input" name="email" type="text" value="">
                            <label>YOUR PHONE</label>
                            <input class="text-input" name="phone" type="text" value="">
                        </fieldset>
                        <fieldset class="column column-1-2">
                            <label>MESSAGE</label>
                            <textarea name="message"></textarea>
                        </fieldset>
                    </div>
                    <div class="row margin-top-30">
                        <div class="column column-1-1">
                            <input type="hidden" name="action" value="contact_form" />
                            <div class="row margin-top-15 padding-bottom-16 align-center">
                                <a class="more submit-contact-form" href="#" title="Send message">Send message</a>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="row full-width page-margin-top-section">
                <div class="contact-map" id="map" data-scroll-wheel="0"></div>
            </div>
        </div>
    </div>
{% endblock %}
