{% extends 'website/base.html.twig' %}

{% block body %}
<div class="theme-page">
    <div class="row gray full-width page-header vertical-align-table">
        <div class="row">
            <div class="page-header-left">
                <h1>OUR TEAM</h1>
            </div>
            <div class="page-header-right">
                <div class="bread-crumb-container">
                    <ul class="bread-crumb">
                        <li>
                            <a title="Home" href="?page=home">
                                Home
                            </a>
                        </li>
                        <li class="separator">
                            &#47;
                        </li>
                        <li>
                            Our Partner
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="clearfix">
        <div class="row full-width padding-top-89 padding-bottom-100">
            <div class="row">
                <h2 class="box-header">MEET OUR TEAM</h2>
                <p class="description align-center">Our team is our most valuable resource. All of our cleaning technicians have earned professional<br>cleaner certification through maid training academy.</p>
                <ul class="team-list gray margin-top-65 clearfix">
                    <li class="team-box column column-1-3">
                        <a href="?page=team_karisma_taruda" title="Karisma Taruda" class="image-box">
                            <img alt="Karisma Taruda" src="images/samples/260x260/placeholder.jpg">
                        </a>
                        <h4><a href="?page=team_karisma_taruda" title="Karisma Taruda">KARISMA TARUDA</a></h4>
                        <p>Co-Founder, Office Manager</p>
                        <ul class="social-icons align-center">
                            <li>
                                <a target="_blank" href="https://twitter.com/QuanticaLabs" class="social-twitter" title="twitter"></a>
                            </li>
                            <li>
                                <a target="_blank" href="https://1.envato.market/quanticalabs-portfolio" class="social-google-plus" title="google-plus"></a>
                            </li>
                        </ul>
                    </li>
                    <li class="team-box column column-1-3">
                        <a href="?page=team_paige_morgan" title="Paige Morgan" class="image-box">
                            <img alt="Paige Morgan" src="images/samples/260x260/placeholder.jpg">
                        </a>
                        <h4><a href="?page=team_paige_morgan" title="Paige Morgan">PAIGE MORGAN</a></h4>
                        <p>Cleaning Technican</p>
                        <ul class="social-icons align-center">
                            <li>
                                <a target="_blank" href="https://facebook.com/QuanticaLabs" class="social-facebook" title="facebook"></a>
                            </li>
                            <li>
                                <a target="_blank" href="https://twitter.com/QuanticaLabs" class="social-twitter" title="twitter"></a>
                            </li>
                        </ul>
                    </li>
                    <li class="team-box column column-1-3">
                        <a href="?page=team_celevic_parkhill" title="Celevic Parkhill" class="image-box">
                            <img alt="Karisma Taruda" src="images/samples/260x260/placeholder.jpg">
                        </a>
                        <h4><a href="?page=team_celevic_parkhill" title="Celevic Parkhill">CELEVIC PARKHILL</a></h4>
                        <p>Cleaning Technican, Toronto Division</p>
                        <ul class="social-icons align-center">
                            <li>
                                <a target="_blank" href="https://pinterest.com/quanticalabs/" class="social-pinterest" title="pinterest"></a>
                            </li>
                            <li>
                                <a target="_blank" href="https://1.envato.market/quanticalabs-portfolio" class="social-envato" title="envato"></a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
{% endblock %}
