{% if is_granted('ROLE_ADMIN') %}
        {% extends 'admin/base.html.twig' %}
    {% else %}
        {% extends 'website/base.html.twig' %}
{% endif %}


{% block body %}
    <div class="theme-page padding-bottom-115">
        <div class="clearfix page-404 top-border">
            <div class="row page-margin-top-section">
                <div class="column column-1-1">
                    <h1>404</h1>
                    <h3 class="margin-top-37">OOPS... PAGE NOT FOUND</h3>
                    <p class="description align-center">Sorry, the page you are looking for cannot be found. Return to the <a href="?page=home" title="Go to home">homepage</a> or use the search below.</p>
                    <form class="search-form page-margin-top">
                        <input type="text" name="s" placeholder="Type and hit enter..." value="Type and hit enter..." class="search-input hint">
                        <fieldset class="search-submit-container">
                            <span class="template-search"></span>
                            <input type="submit" value="" class="search-submit">
                        </fieldset>
                        <input type="hidden" name="page" value="search">
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
