<div class="row dark-gray footer-row full-width padding-top-61 padding-bottom-36">
    <div class="row row-4-4">
        <div class="column column-1-4">
            <h6 class="transform">A propos de nous</h6>
            <p class="margin-top-23">Fondée en 1993, l’Union des ONG du Togo (UONGTO) est une faitière apolitique et à but non lucratif qui vise à coordonner les actions entre ses membres et à promouvoir le partenariat entre ceux-ci et les organisations nationales et internationales de développement.</p>
            <p>La mission de l’UONGTO est de i) renforcer les capacités et le professionnalisme des OSC au Togo ; ii) coordonner et accompagner les OSC dans le renforcement de l’impact de leurs actions ; iii) œuvrer à maximiser l’efficacité de la participation des OSC à la bonne gouvernance et à l’amélioration de leur environnement</p>
            <div class="margin-top-37 padding-bottom-16">
                <a class="more gray" href="?page=about" title="Learn more">Learn more</a>
            </div>
        </div>
        <div class="column column-1-4">
            <h6>OUR SERVICES</h6>
            <ul class="list margin-top-31">
                <li class="template-arrow-horizontal-2"><a href="#" title="Commercial Cleaning">Commercial Cleaning</a></li>
                <li class="template-arrow-horizontal-2"><a href="#" title="House Cleaning">House Cleaning</a></li>
                <li class="template-arrow-horizontal-2"><a href="#" title="Move In Out Service">Move In Out Service</a></li>
                <li class="template-arrow-horizontal-2"><a href="#" title="Post Renovation">Post Renovation</a></li>
                <li class="template-arrow-horizontal-2"><a href="#" title="Window Cleaning">Window Cleaning</a></li>
                <li class="template-arrow-horizontal-2"><a href="#" title="Green Spaces Maintenance">Green Spaces Maintenance</a></li>
                <li class="template-arrow-horizontal-2">Novum Elementum</li>
                <li class="template-arrow-horizontal-2">Sicilium Polon</li>
            </ul>
        </div>
        <div class="column column-1-4">
            <h6>LATEST POSTS</h6>
            <ul class="latest-post margin-top-42">
                <li>
                    <a href="#" title="Best pro tips for home cleaning">Best pro tips for home cleaning</a>
                    <abbr title="August 25, 2017">August 25, 2017</abbr>
                </li>
                <li>
                    <a href="#" title="Best pro tips for home cleaning">Best pro tips for home cleaning</a>
                    <abbr title="August 24, 2017">August 24, 2017</abbr>
                </li>
                <li>
                    <a href="#" title="Best pro tips for home cleaning">Best pro tips for home cleaning</a>
                    <abbr title="August 23, 2017">August 23, 2017</abbr>
                </li>
            </ul>
        </div>
        <div class="column column-1-4">
            <h6>CONTACT INFO</h6>
            <ul class="contact-data margin-top-20">
                <li class="template-location"><div class="value">Bretelle Bè-Klikamé (en face de l’entrée du Relais de la Caisse), Maison N°2743</div></li>
                <li class="template-mobile"><div class="value"><a href="tel:+22870418785"> (+228) 70 41 87 85</a></div></li>
                <li class="template-email"><div class="value"><a href="mailto:uongto_2000@yahoo.fr">uongto_2000@yahoo.fr </a></div></li>
                <li class="template-clock"><div class="value">Mon-Fri: 08h00  - 18h30</div></li>
                <li class="template-clock"><div class="value">Samedi, Dimanche: Fermé</div></li>
            </ul>
        </div>
    </div>
    <div class="row page-padding-top">
        <ul class="social-icons align-center">
            <li>
                <a target="_blank" href="https://twitter.com/QuanticaLabs" class="social-twitter" title="twitter"></a>
            </li>
            <li>
                <a href="https://pinterest.com/quanticalabs/" class="social-pinterest" title="pinterest"></a>
            </li>
            <li>
                <a target="_blank" href="https://facebook.com/QuanticaLabs" class="social-facebook" title="facebook"></a>
            </li>
        </ul>
    </div>
    <div class="row align-center padding-top-30">
        <span class="copyright">© Copyright 2023 <a href="#" title="Union des ONG du Togo" target="_blank">U.ONG.TO</a> by <a href="#" title="Sewonou Lokossou" target="_blank">Sewonou</a></span>
    </div>
</div>
