<div class="row dark footer-row full-width padding-top-30">
    <div class="row padding-bottom-33">
        <div class="column column-1-3">
            <ul class="contact-details-list">
                <li class="features-phone">
                    <label class="transform">Appeller immédiatement</label>
                    <p><a href="tel:2507257052">+250 725 7052</a></p>
                </li>
            </ul>
        </div>
        <div class="column column-1-3">
            <ul class="contact-details-list">
                <li class="features-map">
                    <label>OTTAWA, ONTARIO</label>
                    <p>745 Adelaide St.</p>
                </li>
            </ul>
        </div>
        <div class="column column-1-3">
            <ul class="contact-details-list">
                <li class="features-wallet">
                    <label>ESTIMATE YOUR COSTS</label>
                    <p><a href="?page=service_calculator" title="Online Service Calculator">Online Calculator</a></p>
                </li>
            </ul>
        </div>
    </div>
</div>
