<ul class="pagination margin-top-70">
    {% if page != pages %} <li class="left">
        <a href="{{ path(route, {'pageCategory':  pageCategory, 'page': page - 1}) }}" title="" class="template-arrow-horizontal-3" >&nbsp;</a>
    </li>
    {% endif %}
    {% for i in 1..pages %}
    <li class="{% if page == i %}selected{% endif %}"><a href="{{ path(route, {'pageCategory':  pageCategory, 'page': i}) }}" title="">{{ i }}</a></li>
    {% endfor %}
    {% if page != pages %}
    <li class="right ">
        <a href="{{ path(route, {'pageCategory':  pageCategory, 'page': page + 1}) }}" title="" class="template-arrow-horizontal-3 " >&nbsp;</a>
    </li>
    {% endif %}
</ul>
