<div class="header-top-bar-container clearfix">
    <div class="header-top-bar">
        <ul class="contact-details clearfix">
            <li class="template-location">
                745 Adelaide Street, Ottawa
            </li>
            <li class="template-mobile">
                <a href="tel:2507257052">250 725 7052</a>
            </li>
            <li class="template-clock">
                08.00 am - 05.00 pm
            </li>
        </ul>
        <ul class="social-icons">
            <li class="show-on-mobiles">
                    <a class="template-search" href="#" title="Search"></a>
                    <form class="search">
                        <input type="text" name="s" placeholder="Saisir votre recherche ..." value="Saisir votre recherche" class="search-input hint">
                        <fieldset class="search-submit-container">
                            <span class="template-search"></span>
                            <input type="submit" class="search-submit" value="">
                        </fieldset>
                        <input type="hidden" name="page" value="search">
                    </form>
            </li>
            <li>
                <a target="_blank" href="https://facebook.com/" class="social-facebook" title="facebook"></a>
            </li>
            <li>
                <a target="_blank" href="https://twitter.com/" class="social-twitter" title="twitter"></a>
            </li>
            <li>
                <a target="_blank" href="#" class="social-youtube" title="youtube"></a>
            </li>
        </ul>
    </div>
    <a href="#" class="header-toggle template-arrow-vertical-3"></a>
</div>
