{% extends 'admin/base.html.twig' %}

{% block title 'Les Articles' %}


{% block body %}
    <section id="pagination">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Tous les articles</h4>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table alt-pagination customer-wrapper">
                                <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Email</th>
                                    <th>Last Login</th>
                                    <th>Tickets</th>
                                    <th>Options</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td class="align-middle">
                                        <div class="name">Kail Reack</div>
                                    </td>
                                    <td class="align-middle">
                                        <div class="email"><i class="la la-envelope"></i>kail.reack@gmail.com</div>
                                    </td>
                                    <td class="align-middle">
                                        <div class="last-login"><i class="la la-history"></i>15 minutes ago</div>
                                    </td>
                                    <td class="align-middle">
                                        <div class="tickets"><i class="la la-tag"></i>5</div>
                                    </td>
                                    <td class="align-middle">
                                        <div class="option">
                                            <a href="#"><i class="la la-pencil-square success"></i></a>
                                            <a href="#"><i class="la la-trash danger"></i></a>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="align-middle">
                                        <div class="name">Shail Black</div>
                                    </td>
                                    <td class="align-middle">
                                        <div class="email"><i class="la la-envelope"></i>shailblack@outlook.com</div>
                                    </td>
                                    <td class="align-middle">
                                        <div class="last-login"><i class="la la-history"></i>40 minutes ago</div>
                                    </td>
                                    <td class="align-middle">
                                        <div class="tickets"><i class="la la-tag"></i>2</div>
                                    </td>
                                    <td class="align-middle">
                                        <div class="option">
                                            <a href="#"><i class="la la-pencil-square success"></i></a>
                                            <a href="#"><i class="la la-trash danger"></i></a>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="align-middle">
                                        <div class="name">Black Smith</div>
                                    </td>
                                    <td class="align-middle">
                                        <div class="email"><i class="la la-envelope"></i>smith@yahoomail.com</div>
                                    </td>
                                    <td class="align-middle">
                                        <div class="last-login"><i class="la la-history"></i>10 minutes ago</div>
                                    </td>
                                    <td class="align-middle">
                                        <div class="tickets"><i class="la la-tag"></i>3</div>
                                    </td>
                                    <td class="align-middle">
                                        <div class="option">
                                            <a href="#"><i class="la la-pencil-square success"></i></a>
                                            <a href="#"><i class="la la-trash danger"></i></a>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="align-middle">
                                        <div class="name">George Nelson</div>
                                    </td>
                                    <td class="align-middle">
                                        <div class="email"><i class="la la-envelope"></i>george_nelson@gmail.com</div>
                                    </td>
                                    <td class="align-middle">
                                        <div class="last-login"><i class="la la-history"></i>30 minutes ago</div>
                                    </td>
                                    <td class="align-middle">
                                        <div class="tickets"><i class="la la-tag"></i>1</div>
                                    </td>
                                    <td class="align-middle">
                                        <div class="option">
                                            <a href="#"><i class="la la-pencil-square success"></i></a>
                                            <a href="#"><i class="la la-trash danger"></i></a>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="align-middle">
                                        <div class="name">Monica Luice</div>
                                    </td>
                                    <td class="align-middle">
                                        <div class="email"><i class="la la-envelope"></i>monicaluice123@outlook.com</div>
                                    </td>
                                    <td class="align-middle">
                                        <div class="last-login"><i class="la la-history"></i>2 Days ago
                                        </div>
                                    </td>
                                    <td class="align-middle">
                                        <div class="tickets">0</div>
                                    </td>
                                    <td class="align-middle">
                                        <div class="option">
                                            <a href="#"><i class="la la-pencil-square success"></i></a>
                                            <a href="#"><i class="la la-trash danger"></i></a>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="align-middle">
                                        <div class="name">Colin Welch</div>
                                    </td>
                                    <td class="align-middle">
                                        <div class="email"><i class="la la-envelope"></i>colin_welch@asana.com</div>
                                    </td>
                                    <td class="align-middle">
                                        <div class="last-login"><i class="la la-history"></i>1 Day ago
                                        </div>
                                    </td>
                                    <td class="align-middle">
                                        <div class="tickets"><i class="la la-tag"></i>12</div>
                                    </td>
                                    <td class="align-middle">
                                        <div class="option">
                                            <a href="#"><i class="la la-pencil-square success"></i></a>
                                            <a href="#"><i class="la la-trash danger"></i></a>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="align-middle">
                                        <div class="name">Mark Shawn</div>
                                    </td>
                                    <td class="align-middle">
                                        <div class="email"><i class="la la-envelope"></i>mark1991@gmail.com</div>
                                    </td>
                                    <td class="align-middle">
                                        <div class="last-login"><i class="la la-history"></i>2 minutes ago</div>
                                    </td>
                                    <td class="align-middle">
                                        <div class="tickets"><i class="la la-tag"></i>6</div>
                                    </td>
                                    <td class="align-middle">
                                        <div class="option">
                                            <a href="#"><i class="la la-pencil-square success"></i></a>
                                            <a href="#"><i class="la la-trash danger"></i></a>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="align-middle">
                                        <div class="name">Jane Andre</div>
                                    </td>
                                    <td class="align-middle">
                                        <div class="email"><i class="la la-envelope"></i>jane.andre@gmail.com</div>
                                    </td>
                                    <td class="align-middle">
                                        <div class="last-login"><i class="la la-history"></i>
                                            46 minutes ago </div>
                                    </td>
                                    <td class="align-middle">
                                        <div class="tickets"><i class="la la-tag"></i>3</div>
                                    </td>
                                    <td class="align-middle">
                                        <div class="option">
                                            <a href="#"><i class="la la-pencil-square success"></i></a>
                                            <a href="#"><i class="la la-trash danger"></i></a>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="align-middle">
                                        <div class="name">Jones smith</div>
                                    </td>
                                    <td class="align-middle">
                                        <div class="email"><i class="la la-envelope"></i>smith143@asana.com</div>
                                    </td>
                                    <td class="align-middle">
                                        <div class="last-login"><i class="la la-history"></i>23 minutes ago</div>
                                    </td>
                                    <td class="align-middle">
                                        <div class="tickets"><i class="la la-tag"></i>2</div>
                                    </td>
                                    <td class="align-middle">
                                        <div class="option">
                                            <a href="#"><i class="la la-pencil-square success"></i></a>
                                            <a href="#"><i class="la la-trash danger"></i></a>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="align-middle">
                                        <div class="name">John Anderson</div>
                                    </td>
                                    <td class="align-middle">
                                        <div class="email"><i class="la la-envelope"></i>john123@yahoomail.com</div>
                                    </td>
                                    <td class="align-middle">
                                        <div class="last-login"><i class="la la-history"></i>50 minutes ago</div>
                                    </td>
                                    <td class="align-middle">
                                        <div class="tickets"><i class="la la-tag"></i>10</div>
                                    </td>
                                    <td class="align-middle">
                                        <div class="option">
                                            <a href="#"><i class="la la-pencil-square success"></i></a>
                                            <a href="#"><i class="la la-trash danger"></i></a>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="align-middle">
                                        <div class="name">Mishal Johnson</div>
                                    </td>
                                    <td class="align-middle">
                                        <div class="email"><i class="la la-envelope"></i>mishal_johnson1970@utlook.com</div>
                                    </td>
                                    <td class="align-middle">
                                        <div class="last-login"><i class="la la-history"></i>3 Days ago</div>
                                    </td>
                                    <td class="align-middle">
                                        <div class="tickets"><i class="la la-tag"></i>11</div>
                                    </td>
                                    <td class="align-middle">
                                        <div class="option">
                                            <a href="#"><i class="la la-pencil-square success"></i></a>
                                            <a href="#"><i class="la la-trash danger"></i></a>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="align-middle">
                                        <div class="name">Mark Luis</div>
                                    </td>
                                    <td class="align-middle">
                                        <div class="email"><i class="la la-envelope"></i>mark_041983@outlook.com</div>
                                    </td>
                                    <td class="align-middle">
                                        <div class="last-login"><i class="la la-history"></i>17 minutes ago</div>
                                    </td>
                                    <td class="align-middle">
                                        <div class="tickets">0</div>
                                    </td>
                                    <td class="align-middle">
                                        <div class="option">
                                            <a href="#"><i class="la la-pencil-square success"></i></a>
                                            <a href="#"><i class="la la-trash danger"></i></a>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="align-middle">
                                        <div class="name">Angelina David</div>
                                    </td>
                                    <td class="align-middle">
                                        <div class="email"><i class="la la-envelope"></i>angelina_david1@gmail.com</div>
                                    </td>
                                    <td class="align-middle">
                                        <div class="last-login"><i class="la la-history"></i>10 minutes ago</div>
                                    </td>
                                    <td class="align-middle">
                                        <div class="tickets"><i class="la la-tag"></i>2</div>
                                    </td>
                                    <td class="align-middle">
                                        <div class="option">
                                            <a href="#"><i class="la la-pencil-square success"></i></a>
                                            <a href="#"><i class="la la-trash danger"></i></a>
                                        </div>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block vendorscss %}
    <link rel="stylesheet" type="text/css" href="{{ asset('app-assets/vendors/css/tables/datatable/datatables.min.css') }}">
{% endblock %}

{% block vendorsjs %}
    <script src="{{ asset('app-assets/vendors/js/tables/datatable/datatables.min.js') }}"></script>
{% endblock %}

{% block pagesjs  %}
    <script src="{{ asset('app-assets/js/scripts/pages/support-customers.js') }}"></script>
{% endblock %}
